{% load static from staticfiles %}
<!DOCTYPE html>
<html lang=uk>
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">

</head>
<body>
	<div class='container'>
		<form action="send_email/" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label for="InputName">Full name</label>
				<input type="text" class="form-control" id="InputName" placeholder="Full name" name='name'>
			</div>
			<div class="form-group">
				<label for="InputCategory">Category</label>
				<input type="text" class="form-control" id="InputCategory" placeholder="Category" name='category'>
			</div>
			<div class="form-group">
				<label for="InputSubject">Subject</label>
				<input type="text" class="form-control" id="InputSubject" placeholder="Subject" name='subject'>
			</div>
			<div>
				<label for="InputMessage">Message</label>
				<textarea class="form-control" id='InputMessage' rows="3" name='message'></textarea>
			</div>
			<div><strong>Here will be captcha</strong></div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	<!-- JS Inclusion -->
	<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
	<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
</body>
</html>